<!doctype html>
<html lang="zh-CN">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="richard w.">
    <title>搜索 - 股市舆情分析系统</title>
    <!-- Bootstrap CSS -->    
    <link href="https://cdn.staticfile.org/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- 自定义 CSS  -->
    {% load static %}
    <link href="{% static 'Sentiment/global.css' %}" rel="stylesheet">
    <link href="{%static 'Sentiment/favicon.ico' %}" rel="shortcut icon">
  </head>

  <body>
    <!-- 导航栏 -->   
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">
          <span data-feather="sun"></span>股市舆情分析系统
      </a>
      <form method="get" action="/search" class="w-100" onsubmit="return search_check_top()">
        <input id="search_input_top" name="target" class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      </form>
        <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">          
          <a class="nav-link" href="#">
            <span data-feather="github"></span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid"> 
      <div class="row">
        <!-- 侧栏 -->
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">          
          <div class="sidebar-fixed">
            <!-- 第1部分 -->
            <ul class="nav flex-column nav-pills">                  
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <span data-feather="home"></span>
                  主页
                  <!--<span class="sr-only">(current)</span>-->
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/search">
                  <span data-feather="search"></span>
                  个股详情
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/hot">
                  <span data-feather="sun"></span>
                  近期热点
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/text">
                  <span data-feather="file-text"></span>
                  文本分析
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <!-- 主内容 -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">          
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">文本分析</h1>
          </div>

          <!-- 搜索栏 -->
          <form method="post" onsubmit="return search_check()">
            {% csrf_token %}
            <div class="form-group">
              <textarea class="form-control" rows="8" name="textdata" placeholder="请填入待分析的文本，如股评文章等">{{text}}</textarea>
              <small id="SearchHelp" class="form-text text-muted">TextRank设置</small>
              
              <div class="form-row align-items-center">
                <div class="col-auto my-1">
                  <select class="custom-select mr-sm-3" id="inlineFormCustomSelect" name="topk">
                    <option selected>提取关键词数</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                  </select>
                </div>
                <div class="col-auto my-1">
                  <div class="form-check mr-sm-2">
                    <input class="form-check-input" type="checkbox" id="cn" name="n">
                    <label class="form-check-label" for="cn">采用名词</label>
                  </div>
                </div>
                <div class="col-auto my-1">
                  <div class="form-check mr-sm-2">
                    <input class="form-check-input" type="checkbox" id="cv" name="v">
                    <label class="form-check-label" for="cv">采用动词</label>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-outline-secondary">分析</button>
          </form>
          
          <p></p>
          <hr>
          <div id="result">
            <!-- TO RENDER -->
          </div>

        </main>
      </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.14.5/umd/popper.min.js"></script>    
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- Feather-Icons -->
    <script src="https://cdn.staticfile.org/feather-icons/4.9.0/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
    <!-- Global -->
    {% load static %}
    <script src="{% static 'Sentiment/global.js' %}"></script>
    <script>
        var rdata={{result_data|safe}};
        var param={{param|safe}};
        var wdata={{words|safe}};
    </script>
    <script src="{% static 'Sentiment/text.js' %}"></script>    
  </body>

</html>
